{% extends 'base.html' %}

{% block conteudo %}
    <form method="post">
        {% csrf_token %}
        <div class="conteiner mt-5"">
            <h1><p class="text-center">Editar Horário</p></h1>
            <h3 class="text-black-50 text-sm-start ">
                 {{horario.horario_inicial}} - {{horario.horario_final}}
            </h3>
              <div class="col-md-6">
                <label for="horario_inicial">Hora inicial:</label>
                <input
                  type="time"
                  name="horario_inicial"
                  class="form-control"
                  step="300"
                  value="{{horario.horario_inicial}}"
                />
              </div>
        
              <div class="col-md-6">
                <label for="horario_final">Hora final: </label
                ><input
                  name="horario_final"
                  class="form-control"
                  step="300"
                  type="time"
                  value="{{horario.horario_final}}"
                />
              </div>
              
        
              <div class="d-grid gap-2 col-md-12">
                <button class="btn btn-success">Salvar</button>
              </div>
            </div>
        </div>
    </form>
{% endblock %}