{% extends 'base.html' %}

{% block conteudo %}
    <div class="container mt-5">
        <h1><p class="text-center">Horários</p></h1>
        <a class="btn btn-success my-3 mt-3" href="/horarios/novo_horario">Novo horário</a>
        <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>Hora inicial</th>
                <th>Hora final</th>
                <th>Opções</th>
            </tr>

            {% for horario in horarios %}
            <tr>
                <td>{{ horario.id }}</td>
                <td>{{ horario.horario_inicial }}</td>
                <td>{{ horario.horario_final }}</td>
               
                <td>
                    <a href="{% url 'editar_horario' horario.id %}" class="btn btn-primary btn-sm">Editar</a>
                    <form action="{% url 'excluir_horario' horario.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                    </form>
                </td> 
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
