{% extends 'base.html' %}
{% block conteudo %}
<form method="post">
  {% csrf_token %}
  <div class="container mt-5">
    <h1><p class="text-center">Cadastro de Horário</p></h1>
    <div class="row g-3 mt-3">
      <div class="col-md-6">
        <label for="horario_inicial">Hora inicial:</label>
        <input
          type="time"
          name="horario_inicial"
          class="form-control"
          step="300"
          required
        />
      </div>
      <div class="col-md-6">
        <label for="horario_final">Hora final: </label>
        <input
          name="horario_final"
          class="form-control"
          step="300"
          type="time"
          required
        />
      </div>
      <div class="d-grid gap-2 col-md-12">
        <button class="btn btn-success">Enviar</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
