{% extends 'base.html' %}

{% block conteudo %}
    <div class="container mt-5">
        <h1 class="text-center">Enviar aviso</h1>
        {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="row mt-3">
                <div class="col">
                    <label for="identificacao">Identificação:</label>
                    <input id="identificacao" name="identificacao" placeholder="Escola ou nome do professor" class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="turma">Turma:</label>
                    <select id="turma" name="turma" class="form-control">
                        <option value="">Selecione a turma</option>
                        {% for turma in turmas %}
                            <option value="{{ turma.id }}">{{ turma.ano }} - {{ turma.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="aviso">Aviso:</label>
                    <input id="aviso" name="aviso" placeholder="Escreva a notificação" class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button class="btn btn-primary mt-3">Enviar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
