{% extends 'base.html' %}

{% block conteudo %}
    <div class="container mt-5">
        <h1><p class="text-center">Enviar aviso</p></h1>
        {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="row mt-2 mt-3">
                Identificação: <input name="identificacao" placeholder="Escola ou nome do professor" class="form-control">
            </div>
            <div class="row mt-2 mt-3">
                Turma: <input name="ano" class="form-control" type="text" value="{{ turma.ano }}" placeholder="Selecione turma">
            </div>
            <div class="row mt-2 mt-3">
                Aviso: <input name="aviso" placeholder="Escreva a notificação" class="form-control">
            </div>
            <button class="btn btn-primary mt-3">Enviar</button>
        </form>
    </div>
{% endblock %}

<select name="turma_id" class="form-control pb-3">
    <option value="">Selecione</option>
    {% for turma in turmas %}
    <option value="{{ turma.id }}">{{ turma.ano }}-{{ turma.nome }}</option>
    {% endfor %}
</select>