{% extends 'base.html' %}

{% block conteudo %}
    <div class="container mt-5">
        <h1><p class="text-center">Turmas</p></h1>
    </div>
        <a class="btn btn-success my-3 mt-3" href="/turmas/nova_turma">Nova turma</a>
        <a class="btn btn-success my-3 mt-3" href="/user_turma">Atribuir turma a usuário</a>

        <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>Ano</th>
                <th>Nome</th>
                <th>Opções</th>
            </tr>

            {% for turma in turmas %}
            <tr>
                <td>{{ turma.id }}</td>
                <td>{{ turma.ano }}</td>
                <td>{{ turma.nome }}</td>
                <td>
                    <a href="{% url 'editar_turma' turma.id %}" class="btn btn-primary btn-sm">Editar</a>
                    <a href="{% url 'excluir_turma' turma.id %}" class="btn btn-danger btn-sm">Excluir</a>
                    <a href="{% url 'avisos' %}" class="btn btn-warning btn-sm">Enviar notificação</a>
                </td>
            </tr>
            
            {% endfor %}
        </table>
    </div>
{% endblock %}