{% extends 'base.html' %}

{% block conteudo %}
    <div class="container mt-5">
        <h1 class="text-center">Turmas</h1>
        
        <div class="row my-3">
            <div class="col">
                <a class="btn btn-success" href="/turmas/nova_turma">Nova turma</a>
                <a class="btn btn-success" href="/user_turma">Atribuir turma a usuário</a>
            </div>
            <div class="col text-right">
                <a href="{% url 'avisos' %}" class="btn btn-warning">Enviar notificação</a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ano</th>
                    <th>Nome</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for turma in turmas %}
                <tr>
                    <td>{{ turma.id }}</td>
                    <td>{{ turma.ano }}</td>
                    <td>{{ turma.nome }}</td>
                    <td>
                        <a href="{% url 'editar_turma' turma.id %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'excluir_turma' turma.id %}" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
