{% extends 'base.html' %}

{% block conteudo %}
    <div class="container">
        <h1>Turmas</h1>
        <table class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Período</th>
                <th>Sala</th>
            </tr>

            {% for turma in turmas %}
            <tr>
                <td>{{ turma.id }}</td>
                <td>{{ turma.nome }}</td>
                <td>{{ turma.idade }}</td>
                <td>
                    <a href="{% url 'editar_turma' turma.id %}">Editar</a>
                    <a href="{% url 'excluir_turma' turma.id %}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}