<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>LembrEscola</title>
  </head>
  <body>
    
    <main class="main">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">LembrEscola</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-auto-close="outside" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Home
                  </a>
                   <ul
                        class="dropdown-menu dropdown-menu-dark"
                        aria-labelledby="navbarDropdown"
                      >
                        <li><a class="dropdown-item" href="/ ">Página inicial</a></li>
                        <!-- <li><a class="dropdown-item" href="/register">Registrar usuário</a></li>
                        <li><a class="dropdown-item" href="/login">Login</a></li>
                        <li><a class="dropdown-item" href="/login">Logout</a></li> -->
                <!-- </li> --> -->
              </ul>
              {% if user.is_authenticated %}
              
              {% if user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/turmas/' %} active {% endif %}" aria-current="page" href="/turmas/">Turmas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/disciplina/' %} active {% endif %}" aria-current="page" href="/disciplina/">Disciplinas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/horarios/' %} active {% endif %}" aria-current="page" href="/horarios/">Horários</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/agenda/' %} active {% endif %}" aria-current="page" href="/agenda/">Agenda</a>
              </li>
              {% endif %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-auto-close="outside"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Séries
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a
                      class="dropdown-item dropdown-toggle"
                      data-bs-toggle="dropdown"
                      href="#"
                      >6ª Série</a
                    >
                    <ul
                      class="dropdown-menu dropdown-menu-dark"
                      aria-labelledby="navbarDropdown"
                    >
                      <li><a class="dropdown-item" href="/grade/6-A">6ª A</a></li>
                      <li><a class="dropdown-item" href="/grade/6-B">6ª B</a></li>
                      <li><a class="dropdown-item" href="/grade/6-C">6ª C</a></li>
                    </ul>
                  </li>
                  <li>
                    <a
                      class="dropdown-item dropdown-toggle"
                      data-bs-toggle="dropdown"
                      href="#"
                      >7ª Série</a
                    >
                    <ul
                      class="dropdown-menu dropdown-menu-dark"
                      aria-labelledby="navbarDropdown"
                    >
                      <li><a class="dropdown-item" href="/grade/7-A">7ª A</a></li>
                      <li><a class="dropdown-item" href="/grade/7-B">7ª B</a></li>
                      <li><a class="dropdown-item" href="/grade/7-C">7ª C</a></li>
                    </ul>
                  </li>
                  <li>
                    <a
                      class="dropdown-item dropdown-toggle"
                      data-bs-toggle="dropdown"
                      href="#"
                      >8ª Série</a
                    >
                    <ul
                      class="dropdown-menu dropdown-menu-dark"
                      aria-labelledby="navbarDropdown"
                    >
                      <li><a class="dropdown-item" href="/grade/8-A">8ª A</a></li>
                      <li><a class="dropdown-item" href="/grade/8-B">8ª B</a></li>
                      <li><a class="dropdown-item" href="/grade/8-C">8ª C</a></li>
                    </ul>
                  </li>
                  <li>
                    <a
                      class="dropdown-item dropdown-toggle"
                      data-bs-toggle="dropdown"
                      href="#"
                      >9ª Série</a
                    >
                    <ul
                      class="dropdown-menu dropdown-menu-dark"
                      aria-labelledby="navbarDropdown"
                    >
                      <li><a class="dropdown-item" href="/grade/9-A">9ª A</a></li>
                      <li><a class="dropdown-item" href="/grade/9-B">9ª B</a></li>
                      <li><a class="dropdown-item" href="/grade/9-C">9ª C</a></li>
                    </ul>
                  </li>
                </ul>
              </li>    
              <span class="navbar-text pt-4">Logged in as {{user.username}} | </span>
              <li class="nav-item"> <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <a href="#" class="grp-logout" onclick="document.getElementById('logout-form').submit()"> 
                  Logout
                </a>
              </form></li>     
              {% else %}
              <li class="nav-item"><a class="nav-item" href="/login">Login</a></li> 
              {% endif %}
            </ul>
          </div>
        </div>
      </nav> 
      <div class="container">{% block conteudo %} {% endblock %}</div>
    </main>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>