{% extends 'base.html' %}

{% block conteudo %}
    <div class="container">
        <h1>Agenda da turma: {{turma}}</h1>
        <table class="table table-bordered table-striped">
            <tr>
                <th class="text-start">Horário</th>
                <th class="text-start">Segunda</th>
                <th class="text-start">Terça</th>
                <th class="text-start">Quarta</th>
                <th class="text-start">Quinta</th>
                <th class="text-start">Sexta</th> 
            </tr>
            {% for aula in grade %}
            <tr>
                {% for i in aula %}
                {% if i == None %}
                <td class="text-center">x</td>
                {% else %}
                    <td class="text-start">{{ i }}</td>
                {% endif %}
                {% endfor %}    
            </tr>          
            {% endfor %}
        </table>
    </div>
{% endblock %}

